/*start header*/
header div.container h1
{
    display: block;
    text-align: center;
    float: none;
}
/*end header*/
/*start form*/
form.content
{
    float:left;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 20px;
}
form.content label
{
    display: block;
    margin-bottom: 5px; 
}
form.content input
{
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    height: 20px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #000;
}
form.content input[type="submit"]
{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: #00f;
    color: #FFF;
    font-size: 20px;
}
form.content div p
{
    width: 314px;
    color: #F00;
    font-size: 16px;
}
#passwordshow
{
    position: relative;
    bottom: 44px;
    left: 287px;
}
.m-5 
{
    margin: 4rem !important;
}
.d-none 
{
    display: none !important;
}
@media (min-width: 992px) 
{
    .m-lg-0 
    {
        margin: 46px 10px !important;
    }
    .d-lg-block {
        display: block !important;
      }
}
/*end form*/
/*start figure*/
figure
{
    float: right;
    margin: 40px -10px;
}
figure img
{
    width: 412px;
    height: 412px   ;
}
/*end figure*/